MONGO DB

* SET UP FOR MONGO DB
1. Go to google(search mongo db.). we are using cloud version(for free. It is known as Atlas in case of mongo db) of mongo db. so, we dont have to do any kind of set up in local system. 
2. After opening click on try for free & then sign up
3. It gives us a system, inside which we can do mongo db operations in easiest possible way.
4. IP Addres:(0.0.0.0/0)- to connect with our python file
5. Inside cluster we can find mongodb, cluster is nothing but system. 
6. Click on connect
7. Go with connect with your application. bcoz we are connecting our system with python code. 
8. Can select python as lang and version now we are using is 3.6 or later
9. Import pymongo yourself
10. We get a code there, which is connection url, copy it and paste it

In [3]:
import pymongo
client = pymongo.MongoClient("mongodb+srv://sonwaneshivani:shivani6@cluster0.6ic1qsr.mongodb.net/?retryWrites=true&w=majority")
db = client.test

But in the url we have to change the password part to the password we have set

In [2]:
client

MongoClient(host=['ac-loahchl-shard-00-01.6ic1qsr.mongodb.net:27017', 'ac-loahchl-shard-00-00.6ic1qsr.mongodb.net:27017', 'ac-loahchl-shard-00-02.6ic1qsr.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-qr8v24-shard-0', tls=True)

Here by this url we can reach out to the system where mongo db is installed.
* authsource='admin',here it means we have admin privilige with this user id & password(we can change it from mongodb)
* We can create as many clusters as we want

1. First create db same as mysql
2. Mongo db is called as document based database. Which means we can store data in rhe form of dictionary,document or json (java script object notation format)format
3. In case of DB'S we used to create table equivalent to folder,similarly here first we create db(as many as we wish) 
* Here Inside db we create collection(1. table in sql)
*  Inside collection we can store documents(no need to define structure bcoz it is document it can have any type of shape,size, entities to hold)

With our client url, we can create db & holding it into local variable db
* To check our databases we have to go to collections(but it's not visible bcoz we didn't store any data)

In [4]:
db=client['pwskills']

Creating collections(table) inside database

In [5]:
coll_create=db['my_record']

Creating some data & storing it into mongodb(it supports unstructured data unlike excel,we can create dict on any type)

In [7]:
data = {'name':'shivi',
        'class':'csm-a',
        'time':'flexible'
}

### Insert_One & Insert_Many 
* After this we can see database(pwskills),collection(my_record) & document(data) in collections
* We can edit that in that console by pressing on pen like button

In [8]:
coll_create.insert_one(data)

In [9]:
data1={
    "mail_id":"shivi@gmail.com",
    "phone":63012
}

In [10]:
coll_create.insert_one(data1)

In [11]:
data2 = {'list_course':['ds','ml','wd','java'],
         "mentor": ('manvi','sudh','sanjay')
         }

In [12]:
coll_create.insert_one(data2)

In case of multiple records

In [13]:
data3=[
    {'name':'shiv','address':'gutta'},
    {'name':'shivani','address':'jgutta'},
    {'name':'shivo','address':'gutta'},
    {'name':'shivan','address':'gutta'},
    {'name':'shivisha','address':'gutta'},
    {'name':'shisha','address':'gutta'},
    {'name':'shivu','address':'gutta'}
]

In [14]:
coll_create.insert_many(data3)

In [15]:
data4 = {
 "name": "notebook",
 "qty": 50,
 "rating": [ { "score": 8 }, { "score": 9 } ],
 "size": { "height": 11, "width": 8.5, "unit": "in" },
 "status": "A",
 "tags": [ "college-ruled", "perforated"]
}

In [17]:
coll_create.insert_one(data4)

In [16]:
list_of_records = [
    {'companyName': 'iNeuron',
     'product': 'Affordable AI',
     'courseOffered': 'Machine Learning with Deployment'},
    
    {'companyName': 'iNeuron',
     'product': 'Affordable AI',
     'courseOffered': 'Deep Learning for NLP and Computer vision'},
    
    {'companyName': 'iNeuron',
     'product': 'Master Program',
     'courseOffered': 'Data Science Masters Program'}
]

In [18]:
coll_create.insert_many(list_of_records)

Showing all the record stored inside python(by coll_create.find())

In [19]:
for i in coll_create.find():
    print(i)

{'_id': ObjectId('64355845abfbb35e1d0e1807'), 'name': 'shivi', 'class': 'csm-a', 'time': 'flexible'}
{'_id': ObjectId('6435597fabfbb35e1d0e1808'), 'mail_id': 'shivi@gmail.com', 'phone': 63012}
{'_id': ObjectId('643559fdabfbb35e1d0e1809'), 'list_course': ['ds', 'ml', 'wd', 'java'], 'mentor': ['manvi', 'sudh', 'sanjay']}
{'_id': ObjectId('64355ad8abfbb35e1d0e180a'), 'name': 'shiv', 'address': 'gutta'}
{'_id': ObjectId('64355ad8abfbb35e1d0e180b'), 'name': 'shivani', 'address': 'jgutta'}
{'_id': ObjectId('64355ad8abfbb35e1d0e180c'), 'name': 'shivo', 'address': 'gutta'}
{'_id': ObjectId('64355ad8abfbb35e1d0e180d'), 'name': 'shivan', 'address': 'gutta'}
{'_id': ObjectId('64355ad8abfbb35e1d0e180e'), 'name': 'shivisha', 'address': 'gutta'}
{'_id': ObjectId('64355ad8abfbb35e1d0e180f'), 'name': 'shisha', 'address': 'gutta'}
{'_id': ObjectId('64355ad8abfbb35e1d0e1810'), 'name': 'shivu', 'address': 'gutta'}
{'_id': ObjectId('64355bc4abfbb35e1d0e1811'), 'name': 'notebook', 'qty': 50, 'rating': [{'score': 8}, {'score': 9}], 'size': {'height': 11, 'width': 8.5, 'unit': 'in'}, 'status': 'A', 'tags': ['college-ruled', 'perforated']}
{'_id': ObjectId('64355bdfabfbb35e1d0e1812'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
{'_id': ObjectId('64355bdfabfbb35e1d0e1813'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}
{'_id': ObjectId('64355bdfabfbb35e1d0e1814'), 'companyName': 'iNeuron', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}

In [20]:
random_data = [
    {'_id': '3', 'companyName': 'iNeuron', 'Faculty': 'XYZ'},
    {'_id': '4', 'companyName': 'iNeuron', 'Faculty': 'ABC'},
    {'_id': '5', 'companyName': 'iNeuron', 'Faculty': 'PQR'},
]

In [21]:
coll_create.insert_many(random_data)

In [22]:
for i in coll_create.find():
    print(i)

{'_id': ObjectId('64355845abfbb35e1d0e1807'), 'name': 'shivi', 'class': 'csm-a', 'time': 'flexible'}
{'_id': ObjectId('6435597fabfbb35e1d0e1808'), 'mail_id': 'shivi@gmail.com', 'phone': 63012}
{'_id': ObjectId('643559fdabfbb35e1d0e1809'), 'list_course': ['ds', 'ml', 'wd', 'java'], 'mentor': ['manvi', 'sudh', 'sanjay']}
{'_id': ObjectId('64355ad8abfbb35e1d0e180a'), 'name': 'shiv', 'address': 'gutta'}
{'_id': ObjectId('64355ad8abfbb35e1d0e180b'), 'name': 'shivani', 'address': 'jgutta'}
{'_id': ObjectId('64355ad8abfbb35e1d0e180c'), 'name': 'shivo', 'address': 'gutta'}
{'_id': ObjectId('64355ad8abfbb35e1d0e180d'), 'name': 'shivan', 'address': 'gutta'}
{'_id': ObjectId('64355ad8abfbb35e1d0e180e'), 'name': 'shivisha', 'address': 'gutta'}
{'_id': ObjectId('64355ad8abfbb35e1d0e180f'), 'name': 'shisha', 'address': 'gutta'}
{'_id': ObjectId('64355ad8abfbb35e1d0e1810'), 'name': 'shivu', 'address': 'gutta'}
{'_id': ObjectId('64355bc4abfbb35e1d0e1811'), 'name': 'notebook', 'qty': 50, 'rating': [{'score': 8}, {'score': 9}], 'size': {'height': 11, 'width': 8.5, 'unit': 'in'}, 'status': 'A', 'tags': ['college-ruled', 'perforated']}
{'_id': ObjectId('64355bdfabfbb35e1d0e1812'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
{'_id': ObjectId('64355bdfabfbb35e1d0e1813'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}
{'_id': ObjectId('64355bdfabfbb35e1d0e1814'), 'companyName': 'iNeuron', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}
{'_id': '3', 'companyName': 'iNeuron', 'Faculty': 'XYZ'}
{'_id': '4', 'companyName': 'iNeuron', 'Faculty': 'ABC'}
{'_id': '5', 'companyName': 'iNeuron', 'Faculty': 'PQR'}

Fetching only one record (It gives the first one)

In [23]:
coll_create.find_one()

{'_id': ObjectId('64355845abfbb35e1d0e1807'),
 'name': 'shivi',
 'class': 'csm-a',
 'time': 'flexible'}

Fetching Based on the conditions
* Where the company name is ineuron
* Where id>=4 (In mongo db ($gte) means greater than equal to & ($gt) means greater than)

In [26]:
for i in coll_create.find({'companyName':'iNeuron'}):
    print(i)

{'_id': ObjectId('64355bdfabfbb35e1d0e1812'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
{'_id': ObjectId('64355bdfabfbb35e1d0e1813'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}
{'_id': ObjectId('64355bdfabfbb35e1d0e1814'), 'companyName': 'iNeuron', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}
{'_id': '3', 'companyName': 'iNeuron', 'Faculty': 'XYZ'}
{'_id': '4', 'companyName': 'iNeuron', 'Faculty': 'ABC'}
{'_id': '5', 'companyName': 'iNeuron', 'Faculty': 'PQR'}

In [28]:
for i in coll_create.find({'_id': {'$gte':'4'}}):
    print(i)

{'_id': '4', 'companyName': 'iNeuron', 'Faculty': 'ABC'}
{'_id': '5', 'companyName': 'iNeuron', 'Faculty': 'PQR'}

Updating
* Company name : ineuron to pw skills

In [29]:
coll_create.update_many({'companyName': 'iNeuron'},{"$set":{'companyName': 'pwskills'}})

In [30]:
for i in coll_create.find():
    print(i)

{'_id': ObjectId('64355845abfbb35e1d0e1807'), 'name': 'shivi', 'class': 'csm-a', 'time': 'flexible'}
{'_id': ObjectId('6435597fabfbb35e1d0e1808'), 'mail_id': 'shivi@gmail.com', 'phone': 63012}
{'_id': ObjectId('643559fdabfbb35e1d0e1809'), 'list_course': ['ds', 'ml', 'wd', 'java'], 'mentor': ['manvi', 'sudh', 'sanjay']}
{'_id': ObjectId('64355ad8abfbb35e1d0e180a'), 'name': 'shiv', 'address': 'gutta'}
{'_id': ObjectId('64355ad8abfbb35e1d0e180b'), 'name': 'shivani', 'address': 'jgutta'}
{'_id': ObjectId('64355ad8abfbb35e1d0e180c'), 'name': 'shivo', 'address': 'gutta'}
{'_id': ObjectId('64355ad8abfbb35e1d0e180d'), 'name': 'shivan', 'address': 'gutta'}
{'_id': ObjectId('64355ad8abfbb35e1d0e180e'), 'name': 'shivisha', 'address': 'gutta'}
{'_id': ObjectId('64355ad8abfbb35e1d0e180f'), 'name': 'shisha', 'address': 'gutta'}
{'_id': ObjectId('64355ad8abfbb35e1d0e1810'), 'name': 'shivu', 'address': 'gutta'}
{'_id': ObjectId('64355bc4abfbb35e1d0e1811'), 'name': 'notebook', 'qty': 50, 'rating': [{'score': 8}, {'score': 9}], 'size': {'height': 11, 'width': 8.5, 'unit': 'in'}, 'status': 'A', 'tags': ['college-ruled', 'perforated']}
{'_id': ObjectId('64355bdfabfbb35e1d0e1812'), 'companyName': 'pwskills', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
{'_id': ObjectId('64355bdfabfbb35e1d0e1813'), 'companyName': 'pwskills', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}
{'_id': ObjectId('64355bdfabfbb35e1d0e1814'), 'companyName': 'pwskills', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}
{'_id': '3', 'companyName': 'pwskills', 'Faculty': 'XYZ'}
{'_id': '4', 'companyName': 'pwskills', 'Faculty': 'ABC'}
{'_id': '5', 'companyName': 'pwskills', 'Faculty': 'PQR'}

Droping entire

In [31]:
coll_create.drop()

In [32]:
for i in coll_create.find():
    print(i)