Logical Operators: 
1. And - gives true when both conditions are true
2. Or - gives true either one of the conditions are true
3. Not - True will become false and false will  be true
* We can use them in comparision

In [1]:
not bool(0)

True

In [2]:
bool(1)

True

In [3]:
not int(bool(1))

False

In [4]:
not 1000

False

In [5]:
not -4

False

In [6]:
not 0

True

Multiplication  on Boolean

In [9]:
False * False

0

In [15]:
not False * True

True

In [10]:
not(True)* False
#Here not wala is considered as Boolean

True

In [11]:
(not(False)) * False
# Here precedence is appplied, Bcoz of brackets

0

In [26]:
not(False) * False
# not(0*0) - bool
#Here false is evluated frst with false then not is applied

True

In [24]:
True*False 
#(1*0)

0

In [28]:
not False * True
# not (false * true)

True

Precedence Example

In [22]:
(1+2)*3

9

In [14]:
1+2*3

7

Equality operators
1. is : evaluates true if both are pointing to same object, orelse false
2. is not : Viceversa of is
3. == : Checks equality . If equal then gives true
4. != : Checks inquality . If unequal then gives true

Memory Address in Case of Lists

In [29]:
lst1=[1,2,3,4]
lst2=[1,2,3,4]

* Memory has Memory Address(Variable stored in the memory and it has address) * It can be found out using ID (id).
* If the address of two variables is point to same object or not

In [30]:
id(lst1)

2399902154304

In [31]:
id(lst2)

2399900880064

In [33]:
lst1 is lst2
# False bcoz both are not pointing to same object. They both have dffrnt Memory address

False

In [40]:
lst1 is not lst2

False

In [38]:
# Now the memory addresses of the variables are same 
lst2=lst1
print(id(lst1))
print(id(lst2))

2399902154304
2399902154304

In [41]:
lst1 == lst2

True

Memory Address in case of Variables

In [50]:
a=2
b=2

In [49]:
print(id(a))
print(id(b))

2399820644624
2399820644688

Memory Address in case of Strings

In [44]:
str1= 'shivani'
str2= 'shivani'

In [45]:
print(id(str1))
print(id(str2))

2399923627440
2399923627440

In [46]:
str1= 'Shivani'
str2= 'shivani'
# Both are Different

In [47]:
print(id(str1))
print(id(str2))

2399923378800
2399923627440

Note : Strings and Variables both with same value have same addresses

Strings are immutable. We can replace the string but cannot change the value stored. 
* We can travel the string Thats why both same values point the same address

Lists are mutable(Changable)

Relational / Comparision operators
* <
* <=
* >
* >=
* Answer will be either true or false

In [51]:
150 >200

False

Arithmetic Operators
* + = Addition
* - = Subtraction
* / = true division
* // = Integer Division(gives int ans)
* % = Modulo

In [52]:
a=6
b=3

In [53]:
a+b

9

In [54]:
a-b

3

In [55]:
a/b

2.0

In [56]:
a//b

2

In [57]:
a%b

0

Bitwise Operator
* ~ - Complement 1: 0-1,1-0
* & - And : same as logical and but works on bits
* | - Or : same as logical or but works on bits
* ^ - Exclusive Or : Like terms - 0, Dffrnt - 1
* a<<b - Left Shift : a*(2 power b)
* a>>b - Right Shift : a/(2 power b)

In [59]:
var = 10
bin(var) #1010

'0b1010'

In [60]:
~ var

-11

In [61]:
0 & 1

0

In [62]:
True & False

False

In [63]:
0 & 0

0

In [65]:
1 | 1

1

In [64]:
1 & 1

1

In [67]:
var >> 1

5

Data Structures:

Strings : by single or double quotes

In [68]:
str1="Welcome"
str2='Hello'

In [69]:
type(str1)

str

In [70]:
type(str2)

str

In [87]:
str1[-1]
#last letter

'o'

In [71]:
str1[0]

'W'

* Cannot Change String LetterS.
* Instead we can replace it.
* Iteration can be done

In [75]:
str1="hello"
str1

'hello'

In [74]:
str1='hi'
str1

'hi'

In [76]:
text="Hello World"

To see Inbuilt functions of String

In [78]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

Built-In Function

Slice function

In [81]:
string = "Sonwane Shivani"
string[5:]

'ne Shivani'

In [106]:
#11 doesn't get included
string[5:11]

'ne Shi'

In [88]:
string[-1:]

'i'

In [89]:
string[-3:]

'ani'

In [90]:
string[-7:]

'Shivani'

In [91]:
string[-7:-3]

'Shiv'

In [98]:
string[4:-1]

'ane Shivan'

string[-3:-7]
* doesnt work bcoz it starts from -3 and searches till end of the string(right side) and doesn't find -7

In [95]:
string[-3:-7]
#doesnt work bcoz it starts from -3 and searches till end of the string(right side) and doesn't find -7

''

In [94]:
string[-7:5]
#doesn't work

''

In [96]:
string[:-1]

'Sonwane Shivan'

In [97]:
string[:]
# start to end

'Sonwane Shivani'

Reverse String(Step size)

By giving negative step size, We take/ start from last letter and take in steps
* Note : [::2] and [::-2] their reverse will not be same

In [99]:
string[::-1]

'inavihS enawnoS'

In [100]:
string[::2]

'SnaeSiai'

In [101]:
string[::-2]

'iaiSeanS'

In [102]:
string[6::-1]

'enawnoS'

In [103]:
string[6::4]

'eii'

In [104]:
string[::-3]

'ivSnn'

In [105]:
string[::3]

'Sweha'

In [107]:
name="Data Science"

In [108]:
name[5:]

'Science'

In [112]:
#4 doesn't get included
name[:4:-1]

'ecneicS'

Concatenation

In [114]:
name+" Masters"

'Data Science Masters'

In [115]:
print("Hello" + "World")

HelloWorld

In [116]:
name * 5

'Data ScienceData ScienceData ScienceData ScienceData Science'

Length

In [118]:
len(name)

12

Find  : Checks for the element/set of elements and gives index else gives -1

In [119]:
name.find('a')

1

In [120]:
name.find('z')

-1

finding for element in the slice of the string"

In [125]:
#finding for element in the slice of the string" 
name.find('a',2,10)

3

Count : gives count of that particular letter

In [126]:
name.count('a')

2

In [127]:
name.count(' ')

1

In [128]:
name.count('')

13

In [129]:
name.count('e',3,)

2

String Split Function  : use it as sep
*  It do only for the 1st letter observed

In [137]:
name.split(' ')

['Data', 'Science']

In [138]:
name.split('a')

['D', 't', ' Science']

In [139]:
name.split('e')

['Data Sci', 'nc', '']

Partition : use it as sep but also keeps it
* It do only for the 1st letter observed

In [140]:
name.partition('S')

('Data ', 'S', 'cience')

In [141]:
name.partition('e')

('Data Sci', 'e', 'nce')

Upper and lower and Swap Case

In [142]:
course_name="Data Science Masters"

In [143]:
course_name.upper()

'DATA SCIENCE MASTERS'

In [144]:
course_name.lower()

'data science masters'

In [146]:
course_name.swapcase()

'dATA sCIENCE mASTERS'

Title: Firstletter capital

In [147]:
course_name.title()

'Data Science Masters'

In [149]:
name="shjhj adsshbjn"
name.title()

'Shjhj Adsshbjn'