Somemore String built in functions

Note: Built - in doesn't modify existing string insteads it assigns a new string (just copies existing string)

Capitalize : Frst letter capital rest all will be small

In [1]:
name="Iam Shivani"

In [2]:
name.capitalize()

'Iam shivani'

Reversed & Join : It tries to join all the chars present with string 
* Anything inside join is an Iterator
* To add one word after every word

In [15]:
reversed(name)
#It stores sequence of iterators

In [10]:
"*".join('abc')

'a*b*c'

In [11]:
' '.join(name)

'I a m   S h i v a n i'

In [7]:
' '.join(reversed(name))

'i n a v i h S   m a I'

In [13]:
' Daddy '.join('Mummy')

'M Daddy u Daddy m Daddy m Daddy y'

In [14]:
list(reversed(name))

['i', 'n', 'a', 'v', 'i', 'h', 'S', ' ', 'm', 'a', 'I']

In [16]:
for i in list(reversed(name)):
    print(i,end='')

inavihS maI

In [27]:
string_a=" shivani "

strip: Removes Whitespaces from left and write

In [28]:
string_a.strip(" ")

'shivani'

* Lstrip : Removes the left most white space
* Rstrip: Removes the right most white space

In [29]:
string_a.lstrip(" ")

'shivani '

In [30]:
string_a.rstrip(" ")

' shivani'

Replace (from,to)

In [32]:
string_a.replace("vani","nka")

' shinka '

In [36]:
string_modify = string_a.replace("s","p")
string_modify

' phivani '

Dffrnt ids here,Basically String  doesn't change

In [40]:
print(id(string_a))
print(id(string_modify))

1366815285808
1366808947440

expandtabs()

In [42]:
'hello\tworld'.expandtabs()

'hello   world'

In [43]:
str1="Hello Guys, Iam Shivani"

In [44]:
str1.replace('guys','peeps').replace(',','...!')

'Hello Guys...! Iam Shivani'

isupper and islower and isspace

In [45]:
str1.isupper()

False

In [47]:
str1.islower()

False

In [48]:
name="shivani"

In [49]:
name.islower()

True

In [50]:
name="BUNTY"

In [51]:
name.isupper()

True

In [52]:
name.isspace()

False

In [53]:
' '.isspace()

True

In [54]:
if ' '.isspace():
    print("Iam a whiteSpace")

Iam a whiteSpace

endswith and startswith

In [55]:
name.endswith('Y')

True

In [56]:
name.startswith('B')

True

AlphaNumeric

In [58]:
a="abcd123"
a

'abcd123'

In [60]:
a.isalnum()

True

In [4]:
name="Shivani"
count=0
for i in name:
    count+=1
count

7

In [5]:
len(name)

7

In [74]:
for i in range(len(name)):
    print(f"index-{i} is {name[i]}")

index-0 is S
index-1 is h
index-2 is i
index-3 is v
index-4 is a
index-5 is n
index-6 is i

In [10]:
#stepsize should be given here

for i in range(len(name)-1,-1,-1):
    print(f"index-{i} is {name[i]}")

index-6 is i
index-5 is n
index-4 is a
index-3 is v
index-2 is i
index-1 is h
index-0 is S

In [13]:
ch=len(name)-1
while(ch>=0):
    print(name[ch],end=" ")
    ch-=1

i n a v i h S

In [14]:
for i in name: print(i)

S
h
i
v
a
n
i

In [19]:
name="pwskills"
vowels="AEIOUaeiou"
for ch in name:
    if(ch in vowels):
        print("{ch} is a vowel")
    else:
        print("{ch} is a constant")

{ch} is a constant
{ch} is a constant
{ch} is a constant
{ch} is a constant
{ch} is a vowel
{ch} is a constant
{ch} is a constant
{ch} is a constant

LIST
* Mutable
* Ordered collection of elements (index)

In [20]:
type([])

list

In [21]:
["shivani","sonwane",23]

['shivani', 'sonwane', 23]

In [22]:
list([1,2,3])

[1, 2, 3]

In [23]:
list(name)

['p', 'w', 's', 'k', 'i', 'l', 'l', 's']

In [24]:
str1='Iam shivani'

Return type of split function of list

In [29]:
str1.split(" ")

['Iam', 'shivani']

In [31]:
list1=(str1.split(" "))

All the Slicing done on Strings can also be done here

In [35]:
list1[1]

'shivani'

In [34]:
list1[:]

['Iam', 'shivani']

In [37]:
list1[::-1]

['shivani', 'Iam']

In [39]:
list1[:-3:]

[]

In [40]:
list1

['Iam', 'shivani']

Concatenation n Lists
* Lists and Lists can be concatenated
* Lists and Int cannot be concatenated

In [43]:
list2=list1+[[1,2,3,4]]

Multi-Nested Lists- Ex: [[1,2,3]]

In [45]:
list2[2][-1]

4

Not a INPLACE process: As we are not updating

In [47]:
list2 * 2

['Iam', 'shivani', [1, 2, 3, 4], 'Iam', 'shivani', [1, 2, 3, 4]]

In [49]:
if 'shivani' in list2:
    print('yes')

yes

In [51]:
'Iam' in list2

True

In [52]:
0 in list2

False

Max and Min: wrt Ascii value

In [53]:
list1=['apple','ball','cat','dog']
list2=[5,6,7,8,9,2]

In [54]:
print(max(list1))

dog

In [55]:
max(list2)

9

In [56]:
min(list1)

'apple'

Inplace Operations

Append

In [58]:
list1=[1,2,3,4,5]
list1.append("Hello")
list1

[1, 2, 3, 4, 5, 'Hello']

In [61]:
list1.append([1,2,3,4,5])
list1

[1, 2, 3, 4, 5, 'Hello', [1, 2, 3, 4, 5]]

Pop
* By default index=-1.
* Removes last element by default

In [62]:
list1.pop()

[1, 2, 3, 4, 5]

In [63]:
list1.pop(2)

3

In [64]:
list1

[1, 2, 4, 5, 'Hello']

Sorting(By default Asscending order) and reverse methods in list(Inplace)

In [1]:
new_list=['q','e','f','r','t']
new_list[::-1]

['t', 'r', 'f', 'e', 'q']

In [2]:
new_list.reverse()

In [3]:
new_list

['t', 'r', 'f', 'e', 'q']

In [4]:
new_list.sort()

In [5]:
new_list

['e', 'f', 'q', 'r', 't']

    Descending order sort

In [8]:
new_list.sort(reverse=True)

In [9]:
new_list

['t', 'r', 'q', 'f', 'e']

In [10]:
new_list.append(10)

Extend

In [16]:
new_list.extend(['pw','skills'])

In [18]:
new_list

['t', 'r', 'q', 'f', 'e', 10, ['pw', 'skills'], 'pw', 'skills', 'pw', 'skills']

In [19]:
list=[1,2,3,4]

In [20]:
list.extend([1,2,3])

In [21]:
list

[1, 2, 3, 4, 1, 2, 3]

Nested List

In [22]:
l1=[1,2,3]
l2=[4,5,6]
l3=[7,8,9]

In [23]:
matrix=[l1,l2,l3]

In [24]:
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [25]:
matrix[1][2]

6

In [26]:
matrix[2][1]

8

In [29]:
for i in range(0,len(matrix)):
    print(matrix[i][0])

1
4
7

In [32]:
matrix[0:3]

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

List Comprehension

In [34]:
[i for i in range(20)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [40]:
[ i for i in range(20) if (i%2==0)]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [41]:
[ i for i in range(20) if (i%2!=0)]

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [42]:
lst=[1,2,3,4,5,6,7,8]

Sum - Summation

In [53]:
even=sum([i for i in lst if (i%2)==0])
odd=sum([i for i in lst if (i%2)!=0])

In [54]:
even

20

In [55]:
odd

16

In [56]:
[num for num in lst]

[1, 2, 3, 4, 5, 6, 7, 8]

In [57]:
lst=[1,2,3,4,5,6,7,8,9,10]

In [59]:
sq=[i*i for i in lst]

In [60]:
sq

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [61]:
numbers=[-2,-1,0,1,2,3,4]

In [64]:
pos=[num for num in numbers if(num>=0)]

In [65]:
pos

[0, 1, 2, 3, 4]

In [66]:
words=['apple','banana','cherry','date']

In [67]:
lett=[ch[0] for ch in words ]

In [68]:
lett

['a', 'b', 'c', 'd']

In [70]:
temp_in_cel=[0,10,20,30,40,50]
[(9/5)*i+32 for i in temp_in_cel]

[32.0, 50.0, 68.0, 86.0, 104.0, 122.0]

In [72]:
lists=[[1,2,3],[4,5,6],[7,8,9]]

In [85]:
flat=[j for i in lists for j in i]

In [86]:
flat

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [90]:
# using both code & list comprehension 
numbers=[1,2,3,4,5,6,7,8,9,10]
lst=[]
for i in numbers:
    count=0
    for j in range(2,i):
        if(i%j==0):
            count+=1
    if(count==0):
        lst.append(i)
lst

[1, 2, 3, 5, 7]

list of all posible combinations of 2 elements (Concating 2 numbers using fstring)

In [128]:

numbers=[1,2,3,4,5]
lst=[] 
for i in range(0,len(numbers)):
    for j in range(0,len(numbers)):
        if(numbers[i]!=numbers[j]):
            str1=''
            str1 += f'{numbers[i]}{numbers[j]}'
            lst.append(str1)
lst

['12',
 '13',
 '14',
 '15',
 '21',
 '23',
 '24',
 '25',
 '31',
 '32',
 '34',
 '35',
 '41',
 '42',
 '43',
 '45',
 '51',
 '52',
 '53',
 '54']

Applications

Netflix - Now it is an AI Application. 
* AI Application  - which works without human intervention
* It is built by using Machine Learning.
* Ex: Recommendation System 
* with help of ml,we are creating AI application when integrated with netlfix. Along with streaming platform it starts recommending movies. It became smart AI application.
* Before it was just a streaming platform. We used to search movie and see that

Alexa - AI product
* listens to voice and does its own work
* Stand alone product
* It can use Deep Learning, ML or NLP(input in form of texts) Techniques 
* Integrating AI application with normal software product. It becomes smart AI product

Dffrnce btwn normal Car & self driving car(normal car with AI features)

Ex of AI : Email Categorization

AI > ML > DL

ML 
* Subset of AI
* Provides us stats tool(Tools include statistical formulas) to analyze the data
* To build predictive models even forecasting models
* Tasks : Classification,regression,etc
* Stockprice prediction,etc
* Even we increase data it cannot perform well

DL 
* Subset of ML
* Multilayered neural networks(Thinking)
* ANN, CNN,RNN, etc
* Ex: Chatgpt, Transformers,Hugging face libraries,etc
* If we increase data it can perform very well

Data Scientist 
* Develop AI application
* Can used AI ,ML, DL

We use 
* Probability
* Linear Algebra,Matrix
* Differential Eqtns
* Matrix Multiplication