Insert - The element gets inserted at particular position

In [2]:
l=[1,2,3,4,5]
l.insert(0,11)

In [3]:
print(l)

[11, 1, 2, 3, 4, 5]

Tuples : Collection of data,we can store and process in easiest possible way
* But there are some dffrnces btwn list & tuple
* Tuples are ImMutability concepts where it is not going to allow you to change any element at particular indexes
* deletion is possible

In [1]:
t = ()

In [2]:
type(t)

tuple

In [5]:
t = (1,2,3,4,1.2,'paul',45+5j)

In [6]:
t

(1, 2, 3, 4, 1.2, 'paul', (45+5j))

In [7]:
type(t)

tuple

In [31]:
list1=[1, 2, 3, 4, 1.2, 'paul', (45+5j)]
tuple1=41, 2, 3, 4, 7.2, 'paul', (45+8j)

Tuple indexing : 0,1,2....

In [32]:
tuple1[0]

41

In [11]:
tuple1[5]

'paul'

In [33]:
tuple1[4]

7.2

Reverse(Not Inplace)

In [34]:
tuple1[::-1]

((45+8j), 'paul', 7.2, 4, 3, 2, 41)

In [35]:
tuple1

(41, 2, 3, 4, 7.2, 'paul', (45+8j))

Tuple Slicing

In [36]:
tuple1[0:3]

(41, 2, 3)

In [22]:
tuple1

[41, 2, 3, 4, 7.2, 'paul', (45+8j), 4]

In case of tuple we have 2 functions

In [39]:
t1=('True',4,5,6)

Count

Count of 1 & true are considered together

In [24]:
t1.count(4)

1

In [25]:
t1.count(0)

0

Index

In [41]:
t1.count(1)

0

In [28]:
t1.index(5)

1

Iteration

In [43]:
for i in tuple1:
    print(i)

41
2
3
4
7.2
paul
(45+8j)

In [44]:
for i in tuple1:
    print(i, type(i))

41 <class 'int'>
2 <class 'int'>
3 <class 'int'>
4 <class 'int'>
7.2 <class 'float'>
paul <class 'str'>
(45+8j) <class 'complex'>

In [45]:
t1=(1,2,3,4)

In [46]:
t1*3

(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

Max & Min

In [47]:
max(t1)

4

In [48]:
min(t1)

1

Even in case of list we can store the similar kind of inf.
##### Differences
* Brackets
* Im Mutabilty(Cannot be changed ) - we cannot update the available information

In [42]:
l=[1,2,3]
l[1]=[4]
l

[1, [4], 3]

We use them:
* Where we dont want to change something in future
* when we dont anyone to make changes even in future 
* Ex: Series of password, we dont want to change it so it can be used

Nested Tupples

In [49]:
t1=(1,2,3,4)
t2=(5,6,7,8)

In [51]:
t3=(t1,t2)
t3

((1, 2, 3, 4), (5, 6, 7, 8))

In [53]:
t4 = (1,2,3,4,[5,6,7],'happ')
t4

(1, 2, 3, 4, [5, 6, 7], 'happ')

In [54]:
t4=t3

In [55]:
t4

((1, 2, 3, 4), (5, 6, 7, 8))

* We can also keep list inside a tuple 
* We can also keep tuple inside a list

Deleting tuple

In [56]:
del t4

Length

In [58]:
len(t1)

4

To check availability

In [59]:
2 in t1

True

In [60]:
7 in t1

False

Sets : collection of data
* {} braces
* Removes duplicates itself
* Stores unique information
* It cannot hold a list inside it
* It can store Tuple
* Indexing,reversing doesn't work
* Iteration works

In [3]:
s={}
type(s)

dict

Note: Empty set is a Dictionary

In [1]:
s = {1,2,3,4}

In [2]:
type(s)

set

In [4]:
s2={1,1,1,3,3,3,4,5,5,64,3}
s2

{1, 3, 4, 5, 64}

Set to list & Tuples

In [9]:
l= list(s2)

In [12]:
t=tuple(s2)

Set to list & Tuple

In [10]:
set(l)

{1, 3, 4, 5, 64}

In [13]:
set(t)

{1, 3, 4, 5, 64}

Note: Sets cannot hold List

In [15]:
s={1,2,3,(4,5,6)}

In [16]:
s

{(4, 5, 6), 1, 2, 3}

In [20]:
s4 = {'Sid','Shiv','shiv'}

In [21]:
s4

{'Shiv', 'Sid', 'shiv'}

Indexing, reversing doesn't work

Iteration

In [23]:
for i in s4:
    print(i)

Shiv
Sid
shiv

Built-in Methods

Add

In [24]:
s4.add(4)

In [25]:
s4

{4, 'Shiv', 'Sid', 'shiv'}

Length

In [26]:
len(s4)

4

Pop - randomly removes one of the element

In [27]:
s4.pop()

'Shiv'

In [28]:
s4.pop()

4

Clear : removes all the elements from the set

In [29]:
s4.clear()

Difference

In [30]:
s5={1,2,3,4}
s6={1,2,3,6}

In [32]:
s5.difference(s6)

{4}

In [34]:
s6.difference(s5)

{6}

In [35]:
s5.union(s6)

{1, 2, 3, 4, 6}

Dictionary : data stored in key value pair seperated by colon and comma
* Key & Value can be anything(any datatype)
* Key dont get repeated
* Spcl case characters alone(without quotes) cannot be acceptable as key
* Lists, Dictionary & Sets cannot be taken as a key
* Tuple can be taken as a key
* Value as a list,set,tuple,dictionary is allowed

In [2]:
d = {}

In [3]:
type(d)

dict

In [4]:
d = {'name':'shivi','Year':2,'clg':'KMIT'}

In [5]:
d

{'name': 'shivi', 'Year': 2, 'clg': 'KMIT'}

Always give unique key name(orelse Rewritten)...

In [7]:
d1={'name':'shiv','name':'pink'}

In [8]:
d1

{'name': 'pink'}

In [16]:
d2={2345:'abcd',12.3:'hell',True:'Hello'}

In [17]:
d2

{2345: 'abcd', 12.3: 'hell', True: 'Hello'}

In [18]:
d3={'#' : 'abc'}

In [20]:
d3

{'#': 'abc'}

In [22]:
d4={'course':['ds','web','java']}

In [23]:
d4

{'course': ['ds', 'web', 'java']}

In [24]:
d4={'course':('ds','web','java')}

In [25]:
d4={'course':{'ds','web','java'}}

In [27]:
d4={'course':{'ds':1,'web':2,'java':4}}

Nested Dictionary : Dictionary inside a dictionary

In [28]:
d4

{'course': {'ds': 1, 'web': 2, 'java': 4}}

In [34]:
d5 = {'batch':['web','py','c'],'start':(4,5,6,7),'name':{'shiv','pink'},'pass':{'shiv':'pink','mum':'dad'}}

In [35]:
d5

{'batch': ['web', 'py', 'c'],
 'start': (4, 5, 6, 7),
 'name': {'pink', 'shiv'},
 'pass': {'shiv': 'pink', 'mum': 'dad'}}

Adding new key & Value in Dictionary

In [36]:
d5['hell']={1,2,3}

In [37]:
d5

{'batch': ['web', 'py', 'c'],
 'start': (4, 5, 6, 7),
 'name': {'pink', 'shiv'},
 'pass': {'shiv': 'pink', 'mum': 'dad'},
 'hell': {1, 2, 3}}

Updating existing key's value

In [39]:
d5['start']=(1,2,3)

In [40]:
d5

{'batch': ['web', 'py', 'c'],
 'start': (1, 2, 3),
 'name': {'pink', 'shiv'},
 'pass': {'shiv': 'pink', 'mum': 'dad'},
 'hell': {1, 2, 3}}

In [41]:
d5['start'][0]

1

In [44]:
d5['name']

{'pink', 'shiv'}

In [45]:
d5['pass']['shiv']

'pink'

In [46]:
type(d5['pass'])

dict

In [47]:
d5['name']='shivani'

In [48]:
d5

{'batch': ['web', 'py', 'c'],
 'start': (1, 2, 3),
 'name': 'shivani',
 'pass': {'shiv': 'pink', 'mum': 'dad'},
 'hell': {1, 2, 3}}

In [49]:
d5['clg']='kmit'

In [50]:
d5

{'batch': ['web', 'py', 'c'],
 'start': (1, 2, 3),
 'name': 'shivani',
 'pass': {'shiv': 'pink', 'mum': 'dad'},
 'hell': {1, 2, 3},
 'clg': 'kmit'}

In [53]:
d5['name'][2:]

'ivani'

In [54]:
d5['name'].upper()

'SHIVANI'

In [55]:
d4

{'course': {'ds': 1, 'web': 2, 'java': 4}}

In [56]:
d4['course']['ds']

1

In [57]:
type(d4['course']['ds'])

int

In [58]:
d4['key1']='abc'

In [59]:
d4

{'course': {'ds': 1, 'web': 2, 'java': 4}, 'key1': 'abc'}

Deleting the key value

In [60]:
del d4['key1']

In [61]:
d4

{'course': {'ds': 1, 'web': 2, 'java': 4}}

Builtin Functions

Clear

In [62]:
d4.clear()

In [63]:
d4

{}

Length

In [65]:
len(d5)

6

In [66]:
d5

{'batch': ['web', 'py', 'c'],
 'start': (1, 2, 3),
 'name': 'shivani',
 'pass': {'shiv': 'pink', 'mum': 'dad'},
 'hell': {1, 2, 3},
 'clg': 'kmit'}

Extracting all keys and values

In [68]:
d5.keys()

dict_keys(['batch', 'start', 'name', 'pass', 'hell', 'clg'])

In [69]:
d5.values()

dict_values([['web', 'py', 'c'], (1, 2, 3), 'shivani', {'shiv': 'pink', 'mum': 'dad'}, {1, 2, 3}, 'kmit'])

Converting to list

In [71]:
list(d5.values())

[['web', 'py', 'c'],
 (1, 2, 3),
 'shivani',
 {'shiv': 'pink', 'mum': 'dad'},
 {1, 2, 3},
 'kmit']

In [72]:
d5

{'batch': ['web', 'py', 'c'],
 'start': (1, 2, 3),
 'name': 'shivani',
 'pass': {'shiv': 'pink', 'mum': 'dad'},
 'hell': {1, 2, 3},
 'clg': 'kmit'}

In [73]:
list(d5.keys())

['batch', 'start', 'name', 'pass', 'hell', 'clg']

In [74]:
d5.items()

dict_items([('batch', ['web', 'py', 'c']), ('start', (1, 2, 3)), ('name', 'shivani'), ('pass', {'shiv': 'pink', 'mum': 'dad'}), ('hell', {1, 2, 3}), ('clg', 'kmit')])

Extracting keys and values together (Comes out as tuples)

In [75]:
list(d5.items())

[('batch', ['web', 'py', 'c']),
 ('start', (1, 2, 3)),
 ('name', 'shivani'),
 ('pass', {'shiv': 'pink', 'mum': 'dad'}),
 ('hell', {1, 2, 3}),
 ('clg', 'kmit')]

Relica of existing dict

copy :does deep copy. reserves new space, changes individually doesn't effect

In [76]:
d6=d5.copy()

In [77]:
d6

{'batch': ['web', 'py', 'c'],
 'start': (1, 2, 3),
 'name': 'shivani',
 'pass': {'shiv': 'pink', 'mum': 'dad'},
 'hell': {1, 2, 3},
 'clg': 'kmit'}

In [88]:
#pointing to same memory location
d7=d5
#Shallow copy

In [79]:
d7

{'batch': ['web', 'py', 'c'],
 'start': (1, 2, 3),
 'name': 'shivani',
 'pass': {'shiv': 'pink', 'mum': 'dad'},
 'hell': {1, 2, 3},
 'clg': 'kmit'}

In [80]:
del d6['name']

In [81]:
d5

{'batch': ['web', 'py', 'c'],
 'start': (1, 2, 3),
 'name': 'shivani',
 'pass': {'shiv': 'pink', 'mum': 'dad'},
 'hell': {1, 2, 3},
 'clg': 'kmit'}

In [82]:
d6

{'batch': ['web', 'py', 'c'],
 'start': (1, 2, 3),
 'pass': {'shiv': 'pink', 'mum': 'dad'},
 'hell': {1, 2, 3},
 'clg': 'kmit'}

In [83]:
d7

{'batch': ['web', 'py', 'c'],
 'start': (1, 2, 3),
 'name': 'shivani',
 'pass': {'shiv': 'pink', 'mum': 'dad'},
 'hell': {1, 2, 3},
 'clg': 'kmit'}

In [85]:
del d5['name']

In [86]:
d7

{'batch': ['web', 'py', 'c'],
 'start': (1, 2, 3),
 'pass': {'shiv': 'pink', 'mum': 'dad'},
 'hell': {1, 2, 3},
 'clg': 'kmit'}

In [87]:
d5

{'batch': ['web', 'py', 'c'],
 'start': (1, 2, 3),
 'pass': {'shiv': 'pink', 'mum': 'dad'},
 'hell': {1, 2, 3},
 'clg': 'kmit'}

pop: Always pass arguement(Key) else gives error

In [90]:
d5.pop('clg')

'kmit'

In [91]:
d5

{'batch': ['web', 'py', 'c'],
 'start': (1, 2, 3),
 'pass': {'shiv': 'pink', 'mum': 'dad'},
 'hell': {1, 2, 3}}

In [92]:
d5.pop('pass')

{'shiv': 'pink', 'mum': 'dad'}

In [93]:
d5

{'batch': ['web', 'py', 'c'], 'start': (1, 2, 3), 'hell': {1, 2, 3}}

From keys

In [97]:
d.fromkeys((1,2,3),('a','b'))

{1: ('a', 'b'), 2: ('a', 'b'), 3: ('a', 'b')}

In [99]:
d8 = {'key1':'val1','key2':'val2'}
d9 = {'key3':'val3','key4':'val4'}

Two dicts to single tuple

In [100]:
(d8,d9)

({'key1': 'val1', 'key2': 'val2'}, {'key3': 'val3', 'key4': 'val4'})

Update

In [107]:
#D9 got copy of existing unique elements of d8
d9.update(d8)

In [106]:
d9

{'key3': 'val3', 'key4': 'val4', 'key1': 'val1', 'key2': 'val2'}

In [103]:
d8

{'key1': 'val1', 'key2': 'val2'}

In [108]:
d8.update(d5)

In [109]:
d8

{'key1': 'val1',
 'key2': 'val2',
 'batch': ['web', 'py', 'c'],
 'start': (1, 2, 3),
 'hell': {1, 2, 3}}

Get : Gives value

In [112]:
d8.get('key1')

'val1'

In [113]:
d8['key1']

'val1'

Dictionary Comprehension

In [119]:
{i:i**2 for i in range(1,11)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [118]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [120]:
{i:i+10 for i in range(1,11)}

{1: 11, 2: 12, 3: 13, 4: 14, 5: 15, 6: 16, 7: 17, 8: 18, 9: 19, 10: 20}

Logarithm : Math function

In [131]:
import math
d12={i:math.log10(i) for i in range(1,11)}
d12

{1: 0.0,
 2: 0.3010299956639812,
 3: 0.47712125471966244,
 4: 0.6020599913279624,
 5: 0.6989700043360189,
 6: 0.7781512503836436,
 7: 0.8450980400142568,
 8: 0.9030899869919435,
 9: 0.9542425094393249,
 10: 1.0}

In [126]:
d5

{'batch': ['web', 'py', 'c'], 'start': (1, 2, 3), 'hell': {1, 2, 3}}

In [125]:
'4' in d5

False

In [127]:
'batch' in d5

True

In [128]:
'web' in d5

False

In [133]:
[i for i in d12.keys() if (i%2==0)]

[2, 4, 6, 8, 10]

In [134]:
for i in d12.keys():
    if(i%2==0):
        print(d12.get(i))

0.3010299956639812
0.6020599913279624
0.7781512503836436
0.9030899869919435
1.0