In [1]:
print("This is my prog")

This is my prog

In [2]:
l=[1,2,3,4]
len(l)

4

Till now we discussed inbuilt function

To create functions by ourself

Functions : 
* We have to use keyword def to create a function
* Syntax : def followed by functionName()
* pass-dont do anything can be used to avoid syntactical error. As we declare function without body
* We can store the output of function
* In python we can return multiple (can be of dfrnt datatypes) they all comes out together in a tupple
* Return gives originally in the datatype

In [4]:
def test():
    pass

In [5]:
def test1():
    print("This is my frst func")

In [6]:
test1()

This is my frst func

Advantages of a function: 
* Increases Modularity
* Increases Usability

Here We cannnot concatenate Function output with string bcoz print always return none type(doesn't return) by default

In [7]:
test1() +" by shivi"

This is my frst func

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [8]:
def test2():
    return "This is my second program"

In [11]:
test2()

'This is my second program'

In [9]:
test2()+" By Me"

'This is my second program By Me'

So, try to use return in funcs rather than print

In [12]:
def test3():
    return 1,2,'shivi',124.3

In [13]:
test3()

(1, 2, 'shivi', 124.3)

We can also allocate multiple numbers to a single variable

In [14]:
a=1,2,3,4,5

In [15]:
a

(1, 2, 3, 4, 5)

In [17]:
a,b,c,d = 1,2,34.56,True

In [18]:
b

2

In [19]:
d

True

In [20]:
c

34.56

In [21]:
test3()

(1, 2, 'shivi', 124.3)

In [22]:
test3()[3]

124.3

In [25]:
test3()[2]

'shivi'

In [26]:
a,b,c,d=test3()

In [27]:
a

1

In [28]:
b

2

In [29]:
d

124.3

In [30]:
def test4():
    a=3*4+5
    return a

In [31]:
test4()

17

In [32]:
type(test4())

int

Below a,b are arguments

In [33]:
def test5(a,b):
    return a+b

In [34]:
test5(4,5)

9

If we dont pass arguements when calling func, we previously have declared arguements in func then it gives error

In [35]:
test5()

TypeError: test5() missing 2 required positional arguments: 'a' and 'b'

Here 1st argument is taken as a and 2nd as b

In [36]:
test5(7,7)

14

In [37]:
test5('h','ello')

'hello'

In [38]:
test5([1,2,3],[5,6,7])

[1, 2, 3, 5, 6, 7]

In [40]:
test5((1,2),[3,4])

TypeError: can only concatenate tuple (not "list") to tuple

Passing argument without following order

In [42]:
test5(b='shiv',a='ani')

'anishiv'

In [64]:
l=[1,2,3,4,5,"shivani","happy",[1,2,3,'happ']]

In [53]:
def numeric(l):
    return [i for i in l if type(i)==int]

In [54]:
numeric(l)

[1, 2, 3, 4, 5]

In [65]:
def numInList(l):
    n=[]
    for i in l:
        if(type(i)==int):
            n.append(i)
        elif(type(i)==list):
            for j in i:
                if(type(j)==int):
                    n.append(j)
    return n

In [66]:
numInList(l)

[1, 2, 3, 4, 5, 1, 2, 3]

In [1]:
def test(a,b,c,d,e):
    pass

In [2]:
test(1,2,3,4,5)

Creation of function which can take as many number of arguements at run-time

*Args - It means it can take any number of arguments in a function during run time. No need to define number of arguments. Args could be any name
* Note : * is necessary

In [4]:
def test1(*args):
    return args

In [5]:
test1(2)

(2,)

In [6]:
test1(2,3,4,5,6)

(2, 3, 4, 5, 6)

In [7]:
test1([1,2,3],(1,2,3,4),"shivani")

([1, 2, 3], (1, 2, 3, 4), 'shivani')

In [8]:
def test2(*shivani):
    return shivani

In [9]:
test2(1,2,3)

(1, 2, 3)

In [10]:
test2(1)

(1,)

Args(It takes nnumber of data at a tym . The data will be accumulated inside tuple) and other data included
* In this case we have to use the label of the data while calling
* Args holds all data as tuple

In [11]:
def test3(*args,a):
    return args,a

In [12]:
test3(3)

TypeError: test3() missing 1 required keyword-only argument: 'a'

In [13]:
test3(1,2,3,4,5)

TypeError: test3() missing 1 required keyword-only argument: 'a'

In [14]:
test3(1,2,3,4,a=5)

((1, 2, 3, 4), 5)

In [15]:
#takes data and gives only list elements

def  test4(*args):
    l=[]
    for i in args:
        if type(i)==list:
            l.append(i)
    return l

In [16]:
test4(1,2,3,4,[1,2,3,4],(5,6,7,8),"sem")

[[1, 2, 3, 4]]

In [17]:
def test4(*args):
    return [j for i in args if type(i)==list for j in i]

In [21]:
test4(1,2,3,4,[1,2,3,4],(5,6,7,8),[1.2,3.3],"sem")

[1, 2, 3, 4, 1.2, 3.3]

To pass n number of key & value pair in function

**kwargs=keyword arguments. No need to mention the key in quotes.
* kwargs can be anything/name

In [22]:
def test5(**kwargs):
    return kwargs

In [23]:
test5()

{}

In [25]:
type(test5())

dict

In [39]:
test5(a=34,ball=23,c=34,name=[1,2,3,4],e= "shiv")

{'a': 34, 'ball': 23, 'c': 34, 'name': [1, 2, 3, 4], 'e': 'shiv'}

In [33]:
d={'1':'4'}

In [34]:
d

{'1': '4'}

Gives only one of that value

In [104]:
def test6(**kwargs):
    for i in kwargs.keys():
        if type(kwargs[i])==list:
           return kwargs[i]

In [113]:
test6(a=39,ball=25,c=34,name=[1,2,3,4],e= "shiv")

[1, 2, 3, 4]

In [114]:
test6(a=39,ball=25,c=34,name=[1,2,3,4],e= "shiv",f=[1,7,4])

[1, 2, 3, 4]

In [106]:
def test7(**kwargs):
    for i in kwargs.values():
        return i

In [107]:
test7(a=39,ball=25,c=34,name=[1,2,3,4],e= "shiv")

39

In [110]:
def test7(**kwargs):
    for i in kwargs.keys():
        return i

In [112]:
test7(a=39,ball=25,c=34,name=[1,2,3,4],e= "shiv")

'a'

Displaying the values present in list

In [126]:
def test8(**kwargs):
    return [j for i in kwargs.values() if type(i)==list for j in i]

In [127]:
test8(a=39,ball=25,c=34,name=[1,2,3,4],e= "shiv",f=[1,7,4])

[1, 2, 3, 4, 1, 7, 4]

Passing args and kwargs together

In [128]:
def test9(*args,**kwargs):
    return args,kwargs

In [131]:
test9(1,2,3,a=4,b=5)

((1, 2, 3), {'a': 4, 'b': 5})

In general we have seen whenever we create a function it generates whole data and then given

In [10]:
#Just gives object doen't give final data
# It is a Generating Function
range(1,10)

range(1, 10)

In [4]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [7]:
l=[1,2,4,'shiv','pen']

In [8]:
def test1(a):
    return [i for i in a if(type(i)==int)]

In [9]:
test1(l)

[1, 2, 4]

As the number of arguments we increase the function takes more and more amount of tym bcoz its creating final single list as outcome
* As it never gets terminated until it prepares whole list
* So when we have millions/trillions of data to accomodate it creates bottle neck 
So the alternative is a generating function 
* Ex: range function(It gives while travesing) doesnt block memory and give data as it doesnt hold data in memory, whereas test function holds data in memory

Generating Function - Saves alot of memory

Yield - used to create range like functions
* Helps in creating generating functions like range func

In [11]:
range(15,20)

range(15, 20)

Fibonacci Series(0,1,1,2,3,5,8,13,21,34) using Generating Function

In [13]:
def test_fib(n):
    a,b=0,1
    for i in range(1,n):
        yield a;
        c=a+b
        a,b=b,c

In [14]:
test_fib(10)

In [15]:
for i in test_fib(10):
    print(i)

0
1
1
2
3
5
8
13
21

Generating squares

In [32]:
def squares(n):
    sq=1
    for i in range(1,n):
        sq=i*i
        yield sq

In [33]:
squares(10)

In [34]:
for i in squares(10):
    print(i)

1
4
9
16
25
36
49
64
81